module.exports = {
  port: 80,
  //cookieSecret: 'NoHack!',
  postSecret: '',
  site: {
    name: 'My Blog',
    title: 'Welcome to my Blog',
    about: '©2012 All Rights Reserved.'
    resources: {
      blog: {
        name: "My Blog",
        postSecret: '#postPassword#'
      },

      twitter: {
        name: "Twitter",
        baseURI: 'http://mysite.net',
        consumerKey: '',
        consumerSecret: ''
      },

      weibo: {
        name: "新浪微博",
        baseURI: 'http://mysite.net',
        appKey: '',
        appSecret: ''
      }
    }
  }
};
