extends layout

block content
  #topics

  script(id="topicTemplate", type="text/tempate")
    <div class="topic">
    <div class="topicTitle"><%- title %></div> 
    <div class="topicContent"><%- content %></div> 
    </div>
    
