doctype 5
html
  head
    title= site.name

    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/#{fromMobile ? "mobile" : "www"}.css')

    script(src='/javascripts/jquery.js')
    script(src='/javascripts/underscore.js')
    script(src='/javascripts/jquery-ui.js')

  body
    block content

    script(src='/javascripts/site.js')
