body {
  padding: 0px;
  margin: 0px auto;
}
#header{
  width:100%;
  text-align: center;
  position: fixed;
  top:0em;
  height: 4em;
  width: 100%;
  color: #333;
  background: #ccc;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#ccc));
  background:-moz-linear-gradient(top, #fff, #ccc);
}
#sitename{
  font-size: 2em;
  font-weight: bold;
  text-shadow: 0.05em 0.05em #fff;
}
#refreshButton, #refreshLoading {
  position:absolute;
  right: 1em;
  top: 1em;
}
#refreshButton img, #refreshLoading img {
  width: 2em;
  height: 2em;
}
#refreshLoading{
  display: none;
}
#body{
  margin: 4em 0.5em 4em 0.5em;
}
#body.gray{
  background-color: #eee;
}
#topLoading, #bottomLoading, #moreButton, #end{
  clear:both;
  text-align: center;
  display: none;
}
#topLoading .loading, #bottomLoading .loading{
  margin-top: 1em;
  width: 1.5em;
  height: 1.5em;
}
#moreButton{
  text-align: center;
  color: #fff;
  margin: 1em 25%;
  width: 50%;
  height: 2em;
  font-weight: bold;
  line-height: 2em;
  -khtml-border-radius: 1em;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  background: #555;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#555), to(#333));
  background:-moz-linear-gradient(top, #555, #333);
}
#footer{
  width:100%;
  text-align: center;
  height: 3em;
  color: #fcfcfc;
  position: fixed;
  bottom: 0em;
  background: #555;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#555), to(#333));
  background:-moz-linear-gradient(top, #555, #333);
}
#footer table.menu{
  margin: 0em;
  padding: 0em;
  list-style: none;
  font-weight: bold;
  font-size: 1.2em;
  text-shadow: 0.05em 0.05em #000;
  width: 100%;
  border:none;
  border-collapse: collapse;
}
#footer table.menu th{
  line-height: 2.5em;
}
#footer table.menu th.on{
  background: #333;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#333), to(#222));
  background:-moz-linear-gradient(top, #333, #222);
}

#about,#source {
  display: none;
}


.topic {
  padding: 1em 0em;
  border-bottom: 0.1em solid #ddd;
  text-align: left;
  color: #666;
  font-size: 1em;
  clear: both;
}
.topic .avatar{
  width: 5em;
  text-align: center;
  vertical-align: top;
}
.topic .avatar img{
  width: 4em;
}
.topic .topicTitle {
  font-weight: bold;
}
.topic .topicTime {
  font-size: 0.8em;
}
.topic .topicContent {
   color: #111;
}
.topic .topicStatus {
  border: 0.1em solid #ddd;
  padding: 1em;
}
.topic .pic img:hover {
  cursor: pointer;
}
.topic .topicStats {
  text-align: right;
  font-size: 0.8em;
}
.topic .topicStats span {
  margin-right: 1em;
}

#source {
  width: 100%;
  text-align: center;
  margin-top: 5em;
}
#source ul {
  width: 80%;
  margin: 0em auto;
  padding: 0em;
}
#source li {
  list-style: none;
  padding: 0.5em 0em;
  margin-top: 1em;
  text-align: center;
  font-size: 1.5em;
  color: #fff;
  font-weight: bold;
  -khtml-border-radius: 1em;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  background: #999;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#999), to(#666));
  background:-moz-linear-gradient(top, #999, #666);
}

#about {
  margin-top: 5em;
  text-align: center;
  font-size: 1em;
}
